/* Common features of all the elements */

* {
  padding: 0;
  box-sizing: border-box;
}


/* Common features of the entire HTML document */

html {
  color: #30373B;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  border-color: #A7A7A7;
  text-rendering: optimizeLegibility;
  margin-top: 150px;
}


/* The body tag specifies features in the body of the file */

body {
  font-size: 13px;
}


/* Styles the title of the webpage */

.title {
  font-size: 32px;
  text-align: center;
  color: #30373B;
  padding: 0;
  margin: 25px 40px;
  word-spacing: 1px;
  letter-spacing: 1px
}


/* Styles the green line below the title */

.verticalLineTop {
  margin: 1px auto;
  padding: 10px;
  border-top: solid #7AB55C;
  border-width: 3px;
  width: 1.7%;
}


/* Styles the subtitle */

.subtitle {
  font-size: 20px;
  color: #949494;
  text-align: center;
  border: 0;
  padding: 15px;
  word-spacing: 1px;
  letter-spacing: 0.2px;
}


/* Styles the container class */

.container {
  margin: 0 30%;
}


/* Styles the text-box */

.email,
select {
  margin: 0;
  width: 80%;
  padding: 18px 20px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #A7A7A7;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  box-sizing: border-box;
}


/* Styles the title of the textbox */

.textbox-title {
  padding: 10px 0;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}


/* the following four styles style the placeholder text in different browsers */

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #adb7bc;
  font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #adb7bc;
  font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #adb7bc;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #adb7bc;
  font-family: 'Open Sans', sans-serif;
}


/* Styles the submit button */

.button {
  margin: 0;
  width: 20%;
  text-align: center;
  font-size: 123%;
  background-color: #7AB55C;
  color: white;
  padding: 18px 25px;
  border: 1px solid #7AB55C;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  letter-spacing: 1px;
}


/* Styles the submit button when hovered over */

button:hover {
  background-color: #6AA74C;
}


/* Styles the error message */

.error-message {
  color: #C23628;
  padding: 10px 0;
}


/* Big tablets to 1200px(normal laptop screen sizes)*/

@media only screen and (max-width: 1200px) {
  .button {
    padding: 18px 0;
  }
}


/* Small tablets to big tablets from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
  .container {
    margin: 0 5%;
  }
}


/* Small phones to small tablets from 480px to 767px*/

@media only screen and (max-width: 767px) {
  html {
    margin-top: 50px;
  }
  .button {
    font-size: 100%;
  }
  .email,
  select {
    font-size: 100%;
  }
}